body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4f4f9;
    background-image: url(background.jpg);
    background-size: 100%;
}

.form-container {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

.header {
    text-align: center;
    border-radius: 10px 10px 0 0;
    color: White;
    background-color: #934013;
    margin: -40px -20px 0 -20px;
    padding: 10px 10px;
    margin-bottom: 40px;
}

p {
    font-size: 12px;
    font-style: italic;
}

form {
    width: 100%;
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

label {
    width: 100px;
    font-size: 14px;
    color: #934013;
}

option {
    color: #934013;
}

input,
textarea {
    flex: 1;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

textarea {
    resize: none;
}

button {
    padding: 5px 50px;
    background-color: #934013;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    margin-left: 135px;
    margin-top: 10px;
}

button:hover {
    background-color: #b67451;
}

input[type="radio"] {
    margin-right: 5px;
}

select {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}